@font-face {
  font-family: 'Hack';
  src: url('./fonts/Hack-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('./fonts/Hack-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('./fonts/Hack-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Hack';
  src: url('./fonts/Hack-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

:root {
  --bg-color: #ffffff;
  --alt-bg-color: #eeeeee;
  --text-color: #000000;
  --alt-text-color: #aaaaaa;
  --hover-bg-color: #f4f4f4;
  /* --accent-color: #deaf6c; */
  --accent-color: #d59844;
}

html {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
}

html,
*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}